@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

body{
  background-color: #000;
}
main::before{
  content: '';
  position: absolute;
  top: 0;
 left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#DA22FF, #9733EE);
  clip-path: circle(30% at right 70%);
  opacity: .4;
  }
  main::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#E55D87, #5FC3E4);
    clip-path: circle(20% at 10% 10%);
    opacity: .4;
  }

.blog_post {
  background: #fff;
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  position: relative;
}


.card_copy {
  padding: 6rem 4rem 5rem 4rem;
}

.img_pod {
  height: 110px;
  width: 110px;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  z-index: 10;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  position: absolute;
  left: -10%;
  top: -13%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* img {
  height: 8.3rem;
  width: 8.3rem;
  position: relative;
  border-radius: 100%;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  z-index: 1;
} */

h3 {
  margin: 0 0 0.5rem 0;
  color: #999;
  font-size: 1.25rem;
}

h1 {
  margin: 0 0 1rem 0;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  color: #333;
}

p {
  margin: 0 0 4.5rem 0;
  font-size: 1.5rem;
  line-height: 1.45;
  color: #333;
}

.btn_primary {
    margin-top: 10px;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  padding: 1.5rem 2rem;
  border-radius: 50px;
  color: white;
  font-size: 1.2rem;
  box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.btn_primary:hover {
  box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
  color: gray;
}

@media only screen and (max-width: 650px) {
  body {
    background-color: black;
  }

  .img_pod {

  }
}

  
.container-about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .container-about .box-about {
    position: relative;
    width: 17rem;
    height: 17rem;
    margin: 4rem;
  }
  
  .container-about .box-about:hover .imgBox-about {
    transform: translate(-3.5rem, -3.5rem);
  }
  
  .container-about .box-about:hover .content-about {
    transform: translate(3.5rem, 3.5rem);
  }
  
  .imgBox-about {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
  }
  
  .imgBox-about img {
    width: 17rem;
    height: 17rem;
    object-fit: cover;
    resize: both;
  }
  
  .content-about {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
    align-items: flex-end;
    text-align: center;
    transition: 0.5s ease-in-out;
  }
  
  .content-about h2 {
    display: block;
    font-size: 1.7rem;
    color: #111;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 1px;
  }
  
  .content-about span {
    color: #555;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
  }
  
  @media (max-width: 600px) {
    .container-about .box-about:hover .content-about {
      transform: translate(0, 4rem);
    }
    .container-about .box-about:hover .imgBox-about {
      transform: translate(0, -4rem);
    }
    .content-about h2 {
        display: block;
        font-size: 1rem;
        color: #111;
        font-weight: 500;
        line-height: 2rem;
        letter-spacing: 1px;
      }
  }
  /*  */
  /*  */


  